{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@assets": "./src/assets",
          "@styles": "./src/styles",
          "@utils": "./src/utils",
          "@pages": "./src/pages",
          "@theme": "./src/theme",
          "@services": "./src/services",
          "@constants": "./src/constants",
          "@hooks": "./src/hooks",
          "@context": "./src/context",
          "@config": "./src/config",
          "@api": "./src/api"
        }
      }
    ]
  ]
}
